*{
    margin:0px;
    padding:0px;
}

body {
    position: fixed; 
    overflow-y: hidden; 
    overflow-x: hidden;
}

@font-face{
    font-family:'Arcade+';
    font-style:normal;
    font-weight:400;
    src: url('./../fonts/arcade-n.woff');
}

@font-face{
    font-family:'Arcade';
    font-style:normal;
    font-weight:400;
    src: url('./../fonts/Arcade.woff');
}

@font-face{
    font-family:'Morith';
    font-style:normal;
    font-weight:400;
    src: url('./../fonts/morith.eot');
}

#canvasDiv {
  position:absolute;
  width:600px;
  background-color:black;
}
